<h1>Mi perfil</h1>
<p>Nombre: {{nombre}}</p>
<p>Apellido: {{apellido}}</p>
<p>Correo electronico: {{email}}</p>

<form>
    <button type="submit">Desloguearme!</button>
</form>
<script src="/js/profile.js"></script>
