
<h1>Lista de Productos - Real Time</h1>

<ul id="productList">
    {{#each products}}
        <li>{{this.title}} - {{this.price}}</li>
    {{/each}}
</ul>


<script src="/socket.io/socket.io.js"></script>

<script src="/js/index.js"></script>