<div>
    <h1>Mi perfil</h1>

    <ul>
        <li>Nombre: {{this.user.nombre}}</li>
        <li>Apellido: {{this.user.apellido}}</li>
        <li>Correo electronico: {{this.user.email}}</li>
    </ul>

    <a href="/edit">Editar mis datos</a>
</div>
<script src="/js/profile.js"></script>